{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/layout.css') }}" />
{% endblock %}

{% block menu %}
<aside class="sidebar">
    <nav>
        <ul class="accordion">
            <li><a href="{{path('caesar_resource_homepage')}}">{{'admin.menu.title.resources.header'|trans({})}}</a>
                <ul>
                    <li><a href="{{path('caesar_resource_add')}}">{{'admin.menu.title.resources.add'|trans({})}}</a></li>
                    <li><a href="{{path('caesar_resource_homepage')}}">{{'admin.menu.title.resources.list'|trans({})}}</a></li>
                    <li><a href="{{path('caesar_resource_skeleton')}}">{{'admin.menu.title.resources.skeleton'|trans({})}}</a></li>
                </ul>
            </li>
            <li><a href="{{path('caesar_admin_user_homepage')}}">{{'admin.menu.title.users.header'|trans({})}}</a>
                <ul>
                    <li><a href="{{path('caesar_admin_user_add')}}">{{'admin.menu.title.users.add'|trans({})}}</a></li>
                    <li><a href="{{path('caesar_admin_user_homepage')}}">{{'admin.menu.title.users.list'|trans({})}}</a></li>
                </ul>
            </li>
            <li><a href="{{path('caesar_admin_location_homepage')}}">{{'admin.menu.title.locations.header'|trans({})}}</a>
                <ul>
                    <li><a href="{{path('caesar_admin_location_add')}}">{{'admin.menu.title.locations.add'|trans({})}}</a></li>
                    <li><a href="{{path('caesar_admin_location_homepage')}}">{{'admin.menu.title.locations.list'|trans({})}}</a></li>
                </ul>
            </li>
            <li><a href="{{asset('#borrowing')}}">{{'admin.menu.title.borrowings.header'|trans({})}}</a>
                <ul>

                </ul>
            </li>
            <li><a href="{{asset('#tag')}}">{{'admin.menu.title.tags.header'|trans({})}}</a>
                <ul>

                </ul>
            </li>
        </ul>
    </nav>
</aside>
{% endblock %}

{% block content %}
<header><h1>{% block contentTitle %}{% endblock %}</h1></header>


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
    <div class="flash-{{ type }}">
        {{ flashMessage }}
    </div>
    {% endfor %}
{% endfor %}

    <section class="contentBody">        
{% block contentBody %}
{% endblock %}
        </section>        
{% endblock %}

{% block javascripts %}
{{parent()}}
        <script type="text/javascript">
        $(document).ready(function() {
            $( ".accordion" ).accordion({
                heightStyle: "content",
                autoHeight: false,
                navigation: true,
                collapsible: true,
                active: getActiveIndex()
            });
        });

        function getActiveIndex() {
            var ul = document.getElementById('breadcrumb');
            var lis = ul.getElementsByTagName('li');
            if (lis.length > 1) {
                var li = lis[1];
                if (li.dataset.header === undefined) {
                    return false;
                }
                var i = parseInt(li.dataset.header);
                return i;
            }
            return false;
        }
        var ul = document.getElementById('breadcrumb');
        var lis = ul.getElementsByTagName('li');
        if (lis.length == 1) {
            var spans = lis[0].getElementsByTagName("span");
            for (var i = 0; i < spans.length; i++) {
                if ('divider' === spans[i].className) {
                    spans[i].style.display = 'none';
                }
            }
        }

        $('.accordion a').each(function(){
            var href= $(this).attr('href');
            var url = document.location.toString();
            if(url.match(href+"$") == href) {
                $(this).addClass('active');
            }
        });

            </script>
{% endblock %}
