{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="0">
    <a href="{{path('caesar_admin_resource_homepage')}}">{{'admin.breadcrumb.resources.list'|trans({})}}</a>
    <span class="divider">></span>
</li>
<li class="active"><span>{{'admin.breadcrumb.resources.add'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.resources.add'|trans({})}}
{% endblock %}

{% block contentBody %}
<form action="{{ path('caesar_admin_resource_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="left max-width">
            
                <div class="left max-width" style="border-bottom:2px solid #111;">
                    <div style="display:inline-block;">
                        {{ form_row(form.code)}}
                    </div>
                    <div style="display:inline-block;margin-left:250px;">
                        <input type="button" value="Rechercher les informations"/>
                    </div>

                </div>
                
                <div class="left half-width" style="min-width: 500px;">
                
                    {{ form_row(form.description) }}
                    {{ form_row(form.quantity) }}
                    {{ form_row(form.shelf) }}    
                    {{ form_row(form.local, { 'attr': {'id': 'local-file'} })}}
                    {{ form_row(form.url) }}   
                </div>
                 <div class="right" style="width: 40%;">
                    <img id="resource-img" src="" alt="Please, choose an image file"/>
                </div>
                <div class="clear"></div>
                <div> 
                    <div class="long-description">
                    {{ form_label(form.longDescription) }}
                    {{ form_errors(form.longDescription) }}
                    {{ form_widget(form.longDescription) }}
                        </div>
                        <input type="button" value="Réinitialiser le squelette"/>
                        <input type="submit" value="Enregistrer la ressource"/>
                    </div>
                </div>

        {{ form_row(form.path) }}
        {{ form_rest(form) }}
            </form>
{% endblock %}
    {% block javascripts %}
{{parent()}}
            <script type="text/javascript" src="{{asset("js/loadImage.js")}}"></script>
            <script type="text/javascript">
                
                
                   function eraseLocal(){
                       document.getElementById("caesar_resourceBundle_resourceType_local").value="";
                    }
                    
                    function eraseURL(){
                        document.getElementById("caesar_resourceBundle_resourceType_url").value="";
                     }
                     
                     document.getElementById("caesar_resourceBundle_resourceType_local").addEventListener('click', eraseURL);
                     document.getElementById("caesar_resourceBundle_resourceType_url").addEventListener('focus', eraseLocal);
            </script> 
{% endblock %}	