{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
    <li data-header="0">
        <a href="{{path('caesar_resource_homepage')}}">{{'admin.breadcrumb.resources.list'|trans({})}}</a>
        <span class="divider">></span>
    </li>
    <li class="active"><span>{{'admin.breadcrumb.resources.add'|trans({})}}</span></li>
{% endblock %}
    
{% block contentTitle %}
{{'admin.title.resources.add'|trans({})}}
{% endblock %}

{% block contentBody %}
    <form action="{{ path('caesar_resource_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="left max-width">
            <div class="left half-width">
                {{ form_row(form.code) }}
                {{ form_row(form.description) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.shelf) }}    
                {{ form_row(form.local, { 'attr': {'id': 'local-file'} }) }}
                {{ form_row(form.url) }}     
            </div>
            <div class="left half-width">
                <div>
                    <button> Rechercher les informations</button>
                </div>
                <div class="left max-width">
                    <img id="resource-img" src="" alt="Please, choose an image file"/>
                </div>
            </div>
            <div class="clear"></div>
            <div> 
                <div class="long-description">
                    {{ form_label(form.longDescription) }}
                    {{ form_errors(form.longDescription) }}
                    {{ form_widget(form.longDescription) }}
                </div>
                <button>Réinitialiser le squelette</button>
                <input type="submit" value="Enregistrer la ressource"/>
            </div>
      </div>  
        
        {{ form_rest(form) }}
    </form>
{% endblock %}
    {% block javascripts %}
{{parent()}}
        <script type="text/javascript">
            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object

                // Loop through the FileList and render image files as thumbnails.
                for (var i = 0, f; f = files[i]; i++) {

                  // Only process image files.
                  if (!f.type.match('image.*')) {
                    continue;
                  }

                  var reader = new FileReader();

                  // Closure to capture the file information.
                  reader.onload = (function(theFile) {
                    return function(e) {
                      // Render thumbnail.
                      var img = document.getElementById('resource-img');
                      img.src = e.target.result;
                      img.title = escape(theFile.name);
                    };
                  })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

    document.getElementById('caesar_resourceBundle_resourceType_local').addEventListener('change', handleFileSelect, false);

     document.getElementById('caesar_resourceBundle_resourceType_url').addEventListener('keyup', function(){
         var img = document.getElementById('resource-img');
         img.src = this.value;
     }, false);
    </script>
{% endblock %}	