{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
    <li data-header="0">
        <a href="{{path('caesar_resource_homepage')}}">{{'admin.breadcrumb.resources.list'|trans({})}}</a>
        <span class="divider">></span>
    </li>
    <li class="active"><span>{{'admin.breadcrumb.resources.update'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.resources.update'|trans({})}}
{% endblock %}

{% block contentBody %}
    <form action="{{ path('caesar_resource_update', {'id': resource}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
        <div class="left max-width">
            <div class="left half-width">
                {{ form_row(form.code) }}
                {{ form_row(form.description) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.shelf) }}    
                {{ form_row(form.local, { 'attr': {'id': 'local-file'} }) }}
                {{ form_row(form.url) }}   
                </div>
                <div class="left half-width">
                    <div>
                        <input type="button" value="Rechercher les informations"/>
                    </div>
                    <div class="left max-width">
                        <img id="resource-img" src="" alt="Please, choose an image file"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div> 
                    <div class="long-description">
                    {{ form_label(form.longDescription) }}
                    {{ form_errors(form.longDescription) }}
                    {{ form_widget(form.longDescription) }}
                        </div>
                        <input type="button" value="Réinitialiser le squelette"/>
                        <input type="submit" value="Modifier la ressource"/>
                    </div>
                </div>  
        {{ form_row(form.path) }}
        {{ form_rest(form) }}
            </form>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset("js/loadImage.js")}}"></script>
{% endblock %}	