{% extends "CaesarAdminBundle::layout.html.twig" %}


{% block breadCrumb%}
    {{parent()}}
    <li data-header="0">
        <a href="{{path('caesar_resource_homepage')}}">{{'admin.breadcrumb.resources.list'|trans({})}}</a>
        <span class="divider">></span>
    </li>
    <li class="active"><span>{{'admin.breadcrumb.resources.update'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.resources.update'|trans({})}}
{% endblock %}

{% block contentBody %}
{% endblock %}