{% extends "CaesarUserBundle::layout.html.twig" %}

{% block bodyTitle %}
<h1>Consultation</h1>
{% endblock %}

{% block caesar_user_content %}
<section>
    
    <div class="resource-details">
        <div class="head">
            <img src="{{asset('resources/img/' ~ resource.path)}}" alt="{{'resource.label.cover'|trans({})}}" />
            <h1>{{resource.description}}</h1>
            <h2>{{'resource.label.identifier'|trans({})}}</h2>
            <p>{{resource.code}}</p>
            <div class="general-buttons">
                {% if alreadySubscribed == false %}
                    <input type="button" name="subscribe" value="{{ 'form.subscribe_form.subscribe'|trans({}, 'CaesarUserBundle') }}" >
                {% else %}
                    <input type="button" name="unsubscribe" value="{{ 'form.subscribe_form.unsubscribe'|trans({}, 'CaesarUserBundle') }}" >
                {% endif %}  
                <a class="button {% if hasReserved %}disabled{% endif %}"
                    href="{{ path('caesar_resource_reserve', {'code':resource.code})}}">
                    {{ 'form.reservation_form.reserve'|trans }}
                </a>
            </div>
        </div>
        
        <div class="details">
            <h2>{{'resource.label.location'|trans({})}}</h2>
            <p>{{resource.shelf.name}}</p>

            <h2>{{'resource.label.quantity'|trans({})}}</h2>
            <p>{{resource.quantity}}</p>

            <h2>{{'resource.label.details'|trans({})}}</h2>
            <p>{{resource.longDescription|replace({"\\n": "\n"})|nl2br}}</p>
        </div>
        
        <div class="borrowings">
            <h2>{{'resource.label.borrowings'|trans({})}} ({{resource.borrowings.count}})</h2>

            {% if resource.borrowings.count > 0 %}
                <div class="consultation-content-block">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'consultation.text.name'|trans({})}}</th>
                                <th>{{'consultation.text.firstname'|trans({})}}</th>
                                <th>{{'consultation.text.borrowing.date'|trans({})}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for borrowing in resource.borrowings %}
                            <tr>
                                <td>{{borrowing.user.name}}</td>
                                <td>{{borrowing.user.firstname}}</td>
                                <td>{{borrowing.borrowingDate|date('d/m/Y')}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}    
	{{parent()}}
    <script type="text/javascript">

        $(document).ready(function() {
            var code = {{resource.code}};

            var button = $('[name="subscribe"]');
            button.prop('disabled', false);
            button.click(function() {
                window.location.replace('{{path('caesar_resource_subscribe')}}/' + code);
            });

            var button = $('[name="unsubscribe"]');
            button.prop('disabled', false);
            button.click(function() {
                window.location.replace('{{path('caesar_resource_unsubscribe')}}/' + code);
            });
        });

        </script>
{% endblock %}
