{% extends "CaesarUserBundle::layout.html.twig" %}

{% block bodyTitle %}
<h1>Consultation</h1>
{% endblock %}

{% block caesar_user_content %}
<section>
    
    <div class="resource-details">
        <div class="head">
            <img src="{{asset('resources/img/' ~ resource.path)}}" alt="{{'resource.label.cover'|trans({})}}" />
            <h1>{{resource.description}}</h1>
            <h2>{{'resource.label.identifier'|trans({})}}</h2>
            <p>{{resource.code}}</p>
            {% if is_granted('ROLE_USER_IDENTIFIED') %}
                {% if alreadySubscribed == false %}
                    <a class="btn-primary" href="{{ path('caesar_resource_subscribe', {'code':resource.code}) }}">{{ 'form.subscribe_form.subscribe'|trans({}, 'CaesarUserBundle') }}</a>
                {% else %}
                    <a class="btn-primary" href="{{ path('caesar_resource_unsubscribe', {'code':resource.code}) }}">{{ 'form.subscribe_form.unsubscribe'|trans({}, 'CaesarUserBundle') }}"</a>
                {% endif %} 
                {% if hasReserved == false %} 
                    <a class="btn-primary" href="{{ path('caesar_resource_reserve', {'code':resource.code})}}">
                        {{ 'form.reservation_form.reserve'|trans }}
                    </a>
                {% else %}
                    <span class="flash-info">{{ 'client.reservation.alreadyReserved'|trans }}</span>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="details">
            <h2>{{'resource.label.location'|trans({})}}</h2>
            <p>{{resource.shelf.name}}</p>

            <h2>{{'resource.label.quantity'|trans({})}}</h2>
            <p>{{resource.quantity}}</p>

            <h2>{{'resource.label.details'|trans({})}}</h2>
            <p>{{resource.longDescription|replace({"\\n": "\n"})|nl2br}}</p>
        </div>
        
        <div class="borrowings">
            <h2>{{'resource.label.borrowings'|trans({})}} ({{resource.borrowings.count}})</h2>

            {% if resource.borrowings.count > 0 %}
                <div class="consultation-content-block">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'consultation.text.name'|trans({})}}</th>
                                <th>{{'consultation.text.firstname'|trans({})}}</th>
                                <th>{{'consultation.text.borrowing.date'|trans({})}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for borrowing in resource.borrowings %}
                            <tr>
                                <td>{{borrowing.user.name}}</td>
                                <td>{{borrowing.user.firstname}}</td>
                                <td>{{borrowing.borrowingDate|date('d/m/Y')}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
