{% extends "CaesarUserBundle::layout.html.twig" %}

{% block bodyTitle %}
<h1>Consultation</h1>
{% endblock %}

{% block caesar_user_content %}
<section>
    <div class="left resource-image">
        <img src="{{asset('resources/img/' ~ resource.path)}}" alt="{{'resource.label.cover'|trans({})}}" />
    </div>
    <div class="resource-details">
        <p>
            <span class="consultation-title">{{resource.description}}</span>
        </p>
        <p>
            <span class="consultation-id">{{'resource.label.identifier'|trans({})}}:</span><br />
            <span class="consultation-text">{{resource.code}}</span>
        </p>
        <p>
            <span class="consultation-location">{{'resource.label.location'|trans({})}}:</span><br />
            <span class="consultation-text">{{resource.shelf.name}}</span>
        </p>
        <p>
            <span class="consultation-quantity">{{'resource.label.quantity'|trans({})}}:</span><br />
            <span class="consultation-text">{{resource.quantity}}</span>
        </p>
        
       	<div class="general-buttons">
        	<input type="button" name="subscribe" value="{{ 'form.subscribe_form.subscribe'|trans({}, 'CaesarUserBundle') }}" >
        </div>
   		
    </div>

    <div class="consultation-div clear">
        <p>
            <span class="consult-title">{{'resource.label.details'|trans({})}}:</span><br />
            <span class="consultation-text-details">{{resource.longDescription|nl2br}}</span>

        </p>
    </div>
    <div class="consultation-div clear">
        <span class="consult-title">{{'resource.label.borrowings'|trans({})}} ({{resource.borrowings.count}})</span>
        {% if resource.borrowings.count > 0 %}
        <div class="consultation-content-block">
            <table>
                <thead>
                    <tr>
                        <th>{{'consultation.text.name'|trans({})}}</th>
                        <th>{{'consultation.text.firstname'|trans({})}}</th>
                        <th>{{'consultation.text.borrowing.date'|trans({})}}</th>
                    </tr>
                </thead>
                <tbody>
                        {% for borrowing in resource.borrowings %}
                        <tr>
                            <td>{{borrowing.user.name}}</td>
                            <td>{{borrowing.user.firstname}}</td>
                            <td>{{borrowing.borrowingDate|date('d/m/Y')}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </section>
{% endblock %}


{% block javascripts %}    
	{{parent()}}
<script type="text/javascript">

    $(document).ready(function() {
    	var code = {{resource.code}};    	
        /*$('#giveMeFocus').keyup(function() {
            var code = $(this).val();
            if (code.length < 8) {
                $('input[type="button"]').attr("disabled", 'disabled');
                return true;
            }*/

            //if (new RegExp("^C-[0-9]*$", "g").test(code) || isValidIsbn(code)) {
                //checkResource(code);
                var button = $('[name="subscribe"]');
                button.prop('disabled', false);
                button.click(function() {
                    window.location.replace('{{path('caesar_resource_subscribe')}}/' + code);
                });
            /*} else {
                $('input[type="button"]').attr("disabled", 'disabled');
                //display connexion message
            }*/
        //});
    });

    </script>
{% endblock %}