<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{'admin.title.main'|trans({})}}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/icons.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="header">

            <section class="left">
                <ul id="breadcrumb" class="breadcrumb">
                {% block breadCrumb%}
                        <li><a href="{{path('caesar_admin_homepage')}}">
                                <i class="icon-home"></i>
                            </a>
                            <span class="divider">></span>
                        </li>
                {% endblock %}
                    </ul>
                </section>

                <section class="right">
                    <select id="lang" class="lang-select">
                        <option value="fr">Français</option>
                        <option value="en">Anglais</option>
                    </select>
                    <a class="link-button-deconnexion" href="{{path('caesar_admin_logout')}}">{{'admin.button.logout'|trans({})}}</a>
                </section>
            </header>

        
            <section class="main-content">
                {% block menu %}{% endblock %}
                <article>{% block content %}{% endblock %}</article>
            </section>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.9.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.0.custom.min.js') }}" ></script>
            <script type="text/javascript">
            $('.right #lang').on('change', function() {
                
            });
                </script>
        {% endblock %}
            </body>
        </html>
