<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{'admin.title.main'|trans({})}}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" title="admin" type="text/css" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" title="admin" href="{{ asset('css/icons.css') }}" />
        <link rel="stylesheet" type="text/css" title="alternate" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" title="alternate" href="{{ asset('css/icons.css') }}" />
        <link rel="stylesheet" type="text/css" title="size" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" title="size" href="{{ asset('css/icons.css') }}" />
        <link rel="stylesheet" title="alternate" type="text/css" href="{{ asset('css/main2.css') }}" />
        <link rel="alternate stylesheet" title="admin" type="text/css" href="{{ asset('css/main.css') }}" />
        <link rel="alternate stylesheet" title="size" type="text/css" href="{{ asset('css/main3.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                <section class="left">
                    <ul id="breadcrumb" class="breadcrumb">
                {% block breadCrumb%}
                            <li><a href="{{path('caesar_admin_homepage')}}">
                                    <i class="icon-home"></i>
                                </a>
                                <span class="divider">></span>
                            </li>
                {% endblock %}
                        </ul>
                    </section>

                    <section class="right">
                        <div class="inline">
                            <select id="lang" class="lang-select">
                                <option value="fr" data-imagesrc="{{asset('images/fr.png')}}"
                                    {% if app.request.locale == 'fr' %} selected="selected" {% endif %}>{{'admin.lang.french'|trans({})}}</option>
                                        <option value="en" data-imagesrc="{{asset('images/en.png')}}"
                                    {% if app.request.locale == 'en'%} selected="selected" {% endif %}>{{'admin.lang.english'|trans({})}}</option>
                                        </select>
                                        <a class="link-button-deconnexion" href="{{path('caesar_admin_logout')}}">{{'admin.button.logout'|trans({})}}</a>
                                </div> 
                            </section>
                        </div>
                    </header>


                    <section class="main-content">
                {% block menu %}{% endblock %}
                            <article>{% block content %}{% endblock %}</article>
                        </section>
        {% block javascripts %}
                        <script type="text/javascript" src="{{ asset('js/jquery-1.9.0.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.0.custom.min.js') }}" ></script>
                        <script type="text/javascript" src="{{ asset('js/jquery.ddslick.min.js') }}" ></script>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.lang-select').ddslick({
                                    onSelected: function(data){
                                        var ddData = $('#lang').data('ddslick');
                                        if ('{{app.request.locale}}' != ddData.selectedData.value) {
                                            if ('en' === ddData.selectedData.value) {
                                                window.location = '{{ path(app.request.attributes.get('_route'), {"_locale": "en"}) }}';
                                            } else {
                                                window.location = '{{ path(app.request.attributes.get('_route'), {"_locale": "fr"}) }}';
                                            }
                                        }
                                    }
                                });
                            });
                            </script>
        {% endblock %}
                        </body>
                    </html>
