<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CAeSAR{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_client.css') }}" />
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/icons.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="left nav-group">
                <a class="nav-el" href="{{ path('caesar_client_homepage')}}"><i class="icon-home icon-white"></i></a>
                <a class="nav-el" href="{{ path('caesar_client_search') }}"><i class="icon-search icon-white"></i></a>
            </div>

            <div class="right nav-group">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav-el nav-btn" href="{{ path('caesar_client_profile')}}"><i class="icon-user icon-white"></i> {{ app.user.firstName }}</a>
                    <a class="nav-el" id="toggle_user_panel" href="#"><i class="icon-chevron-down icon-white"></i></a>
                {% else %}
                    <a class="nav-el" href="{{ path('caesar_client_register')}}">{{ 'user.inscription'|trans({}, 'CaesarUserBundle') }}</a>
                    <a class="nav-el" href="{{ path('caesar_client_login') }}">{{ 'user.connexion'|trans({}, 'CaesarUserBundle') }}</a>
                {% endif %}
            </div>
        </div>
        <div id="user_panel">
            <a class="btn" href="{{ path('caesar_client_profile')}}">Mon profil</a>
            <a class="btn" href="{{ path('caesar_client_search') }}">Mes emprunts</a>
            <a class="btn" href="{{ path('caesar_client_search') }}">Déconnexion</a>
        </div>
        <section>
            <header>
                {% block bodyTitle %}{% endblock %}
			</header>

			<section>
				{% block body %}{% endblock %}
			</section>
		</section>
		{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/jquery-1.9.0.min.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function(e) {
				setInterval(function() {
					$('#giveMeFocus').focus();
				}, 100);
				var isDisplayed = false;
				$('#user_panel').css('display', 'none');
				$('#toggle_user_panel').click(function(e) {
					if (isDisplayed) {
						$(this).html('<i class="icon-chevron-down icon-white"></i>');
						isDisplayed = false;
					} else {
						$(this).html('<i class="icon-chevron-up icon-white"></i>');
						isDisplayed = true;
					}
					$('#user_panel').slideToggle("fast");
					return false;
				})
			})
		</script>	
		{% endblock %}
	</body>
</html>
