<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CAeSAR{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_client.css') }}" />
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/icons.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <a class="nav-el" href="{{ path('caesar_client_homepage')}}"><i class="icon-home icon-white"></i></a>
                <input type="text" class="input-search" placeholder="Rechercher ...">
            </div>

            <div class="right">	
				<p class="nav-el">{{ 'user.welcomeMessage'|trans({}, 'CaesarUserBundle') }} <a href="{{ path('caesar_client_profile')}}">Foo</a></p>
                
		 		{#<a href="{{ path('caesar_client_register')}}">{{ 'user.inscription'|trans({}, 'CaesarUserBundle') }}</a>
                <a href="{{ path('caesar_client_login') }}">{{ 'user.connexion'|trans({}, 'CaesarUserBundle') }}</a>#}
            </div>
        </div>
        
        <section>
            <header>
                {% block bodyTitle %}{% endblock %}
			</header>

			<section>
				{% block body %}{% endblock %}
			</section>
		</section>
		{% block javascripts %}{% endblock %}
	</body>
</html>
