<form action="{{ path('caesar_admin_login_check') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <div>
    {{ form_label(form._username) }}<br />
    {{ form_widget(form._username) }}<br />
        </div>
        <div>
    {{ form_label(form._password, null, {'label_attr': {'class':'last'}}) }}<br />
    {{ form_widget(form._password) }}<br />
        </div>
    {{ form_rest(form) }}
        <input type="submit" value="Connexion" />
</form>