{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="1" class="active"><span>{{'admin.breadcrumb.users.list'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}{{'admin.title.users.list'|trans({})}}{% endblock %}

{% block contentBody %}
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th{% if 'u.codeBu' == sort %} class="sorted"{% endif %}>{{ 'table.title.users.codeBu'|trans({}) }}
                <a href="{{path('caesar_admin_user_homepage', {'page': page, 'sort' :'codeBu', 'direction' : (direction == 'asc' and sort == 'codeBu') ? 'desc' : 'asc'})}}">sort</a>
            </th>
            <th{% if 'u.login' == sort %} class="sorted"{% endif %}>{{'table.title.users.login'|trans({}) }}</th>
            <th{% if 'u.nom' == sort %} class="sorted"{% endif %}>{{'table.title.users.nom'|trans({}) }}</th>
            <th{% if 'u.prenom' == sort %} class="sorted"{% endif %}>{{'table.title.users.prenom'|trans({}) }}</th>
            <th{% if 'u.email' == sort %} class="sorted"{% endif %}>{{'table.title.users.email'|trans({}) }}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="7">
                {{ 'table.foot.count.text'|trans({'%value%': count}) }}
                </th>
            </tr>
        </tfoot>
        <tbody>
        {% for user in users %}
                <tr>
                    <td>{{ user.codeBu }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{path('caesar_admin_user_update', {'id':user.id})}}">
                            <i class="icon-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{path('caesar_admin_user_delete', {'id':user.id})}}">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
        {% endfor %}
            <tbody>
        </table>

{# display navigation #}
        <div class="navigation">

        </div>
{% endblock %}

