{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="1" class="active"><span>{{'admin.breadcrumb.users.list'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}{{'admin.title.users.list'|trans({})}}{% endblock %}

{% block contentBody %}
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th{% if 'codeBu' == sort %} class="sorted"{% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.codeBu'|trans({}), 'page': page, 'sort': 'codeBu'}  %}
            </th>
            <th{% if 'login' == sort %} class="sorted"{% endif %}>
                    {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.login'|trans({}), 'page': page, 'sort': 'login'}  %}
            </th>
            <th{% if 'nom' == sort %} class="sorted"{% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.nom'|trans({}), 'page': page, 'sort': 'nom'}  %}
            </th>
            <th{% if 'prenom' == sort %} class="sorted"{% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.prenom'|trans({}), 'page': page, 'sort': 'prenom'}  %}
            </th>
            <th{% if 'email' == sort %} class="sorted"{% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.email'|trans({}), 'page': page, 'sort': 'email'}  %}
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="7">
                {{ 'table.foot.count.text'|trans({'%value%': count}) }}
            </td>
        </tr>
    </tfoot>
    <tbody id="table_list">
        {% include 'CaesarAdminBundle:User:list.html.twig' with {'users' : users}  %}
    <tbody>
</table>

{# display navigation #}
            <div class="navigation">

            </div>
{% endblock %}
{% block javascripts %}
{{parent()}}
            <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('js/sort.js') }}" ></script>
            <script type="text/javascript">
                message = "{{'ajax.wait.message'|trans({})}}";
                </script>
{% endblock %}
