{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block breadCrumb%}
    {{parent()}}
    <li data-header="1" class="active"><span>{{'admin.breadcrumb.users.list'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}{{'admin.title.users.list'|trans({})}}{% endblock %}

{% block contentBody %}
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th{% if pagination.isSorted('u.codeBu') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'table.title.users.codeBu', 'u.codeBu', options) }}</th>
            <th{% if pagination.isSorted('u.login') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'table.title.users.login', 'u.login', options) }}</th>
            <th{% if pagination.isSorted('u.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'table.title.users.nom', 'u.nom', options) }}</th>
            <th{% if pagination.isSorted('u.prenom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'table.title.users.prenom', 'u.prenom', options) }}</th>
            <th{% if pagination.isSorted('u.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'table.title.users.email', 'u.email', options) }}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
     <tfoot>
        <tr>
            <th colspan="7">
                Afficher le nombre d'éléments trouvés
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ user.codeBu }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{path('caesar_admin_user_update', {'id': user.id})}}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{path('caesar_admin_user_delete', {'id': user.id})}}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>

{# display navigation #}
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
        </div>
{% endblock %}

