<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th{% if 'codeBu' == sort %} class="sorted codeBu"{% else %} class = "codeBu" {% endif %} >
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.codeBu'|trans({}), 'page': page, 'sort': 'codeBu'}  %}
                </th>
                <th{% if 'username' == sort %} class="sorted login"{% else %} class = "login" {% endif %}>
                    {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.login'|trans({}), 'page': page, 'sort': 'username'}  %}
                    </th>
                    <th{% if 'name' == sort %} class="sorted nom"{% else %} class = "nom" {% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.nom'|trans({}), 'page': page, 'sort': 'name'}  %}
                        </th>
                        <th{% if 'firstname' == sort %} class="sorted prenom"{% else %} class = "prenom" {% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.prenom'|trans({}), 'page': page, 'sort': 'firstname'}  %}
                            </th>
                            <th{% if 'email' == sort %} class="sorted email" {% else %} class = "email" {% endif %}>
                {% include ':Pagination:sortable.html.twig' with {'title' : 'table.title.users.email'|trans({}), 'page': page, 'sort': 'email'}  %}
                                </th>
                                <th class="edit"></th>
                                <th class="edit"></th>
                                <th class="delete"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                {{ 'table.foot.count.text'|trans({'%value%': count}) }}
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody id="table_list">
         {% for user in users %}
                                    <tr id="{{ user.codeBu }}">
                                        <td>{{ user.codeBu }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <a href="{{ path('caesar_admin_borrowing_search_user', {'user':user.id}) }}" title="{{ 'admin.label.infobuble.user_borrowing'|trans }}"><i class="icon-book"></i></a>
                                        </td>
                                        <td>
                                            <a href="{{path('caesar_admin_user_update', {'id':user.id})}}">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{path('caesar_admin_user_delete', {'id':user.id})}}">
                                                <i class="icon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
            {% endfor %}
                                </tbody>
                            </table>

{# display navigation #}

                            <div class="navigation">
                                <ul>{# Affichage des boutons "Précédent" et "Première page" (si page > 1) #}
        {% if pagination.cur > 1 %}
                                        <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':1, 'sort' :sort, 'direction' : direction}) }}" title="{{ "pagination.first"|trans({}, 'CaesarAdminBundle') }}"><<</a></li>
                                        <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.cur-1, 'sort' :sort, 'direction' : direction}) }}" title="{{ "pagination.prev"|trans({}, 'CaesarAdminBundle') }}"><</a></li>
        {% endif %}

        {# Affichage des boutons vers les 3 pages précédent la page courante (ou 2, ou 1, ou 0) #}
        {% for i in 3 .. 1 %}
                {% if pagination.cur - i > 0 %}
                                            <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.cur - i, 'sort' :sort, 'direction' : direction}) }}">{{ pagination.cur - i }}</a></li>
                {% endif %}
        {% endfor %}

        {# Affichage de la page courante #}
                                                <li class="active"><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.cur, 'sort' :sort, 'direction' : direction}) }}">{{ pagination.cur }}</a></li>

        {# Affichage des 3 (ou 2, ou 1, ou 0) pages suivant la page courante #}
        {% for i in 1 .. 3 %}
                {% if pagination.cur + i <= pagination.max %}
                                                <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.cur + i, 'sort' :sort, 'direction' : direction}) }}">{{ pagination.cur + i }}</a></li>
                {% endif %}
        {% endfor %}

                    {# Affichage des boutons "Suivant" et "Dernière page" (si page différente du max de page ) #}
        {% if pagination.cur <= pagination.max %}
                                                    <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.cur + 1, 'sort' :sort, 'direction' : direction}) }}" title="{{ "pagination.next"|trans({}, 'CaesarAdminBundle') }}">></a></li>
                                                    <li><a class="_pagination" href="{{ path(app.request.attributes.get('_route'), {'page':pagination.max, 'sort' :sort, 'direction' : direction}) }}" title="{{ "pagination.last"|trans({}, 'CaesarAdminBundle') }}">>></a></li>
        {% endif %}
                                                    </ul>
                                                </div>