{% extends "CaesarAdminBundle::layout.html.twig" %}
{% block breadCrumb%}
    {{parent()}}
<li data-header="2">
    <a href="{{path('caesar_admin_user_homepage')}}">{{'admin.breadcrumb.users.list'|trans({})}}</a>
    <span class="divider">></span>
</li>
<li class="active"><span>{{'admin.breadcrumb.users.update'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.users.update'|trans({})}}
{% endblock %}

{% block contentBody %}
        <form action="{{ path('caesar_admin_user_update', {'id': user}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
                <fieldset>
                    <legend>{{'admin.fieldset.user.legend.personnal'|trans({})}}</legend>
            {{ form_row(form.codeBU) }}
            {{ form_row(form.name) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.email) }}
                </fieldset>
                <fieldset>
                    <legend>{{'admin.fieldset.user.legend.connexion'|trans({})}}</legend>
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.confirmPassword) }}
                </fieldset>
        {{ form_rest(form) }}
                <input type="submit" value="{{'admin.button.user.update'|trans({})}}"/>
            </form>
{% endblock %}
