{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="0" class="active"><span>{{'admin.breadcrumb.general.backup.create'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.general.backup.create'|trans({})}}
{% endblock %}
{% block contentBody %}
        <p class="flash-info">{{'backup.create.info'|trans({})}}</p>

        <form action="{{ path('caesar_admin_general_create_backup') }}" method="post">
            <input type="submit" value="{{'backup.generate'|trans({})}}"/>
        </form>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}