{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />

{% endblock %}

{% block contentTitle %}
{{'admin.title.home'|trans({})}}
{% endblock %}

{% block contentBody %}
<section class="general">
    <header>{{'admin.menu.title.general.header'|trans({})}}</header>
    <section>
        <p>{{'admin.home.synopsis.general'|trans({})}}</p>
    </section>
</section>
<section class="resources">
    <header>{{'admin.menu.title.resources.header'|trans({})}}</header>
    <section><p>{{'admin.home.synopsis.resources'|trans({})}}</p></section>
</section>
<section class="users">
    <header>{{'admin.menu.title.users.header'|trans({})}}</header>
    <section><p>{{'admin.home.synopsis.users'|trans({})}}</p></section>
</section>
<section class="locations">
    <header>{{'admin.menu.title.shelves.header'|trans({})}}</header>
    <section><p>{{'admin.home.synopsis.shelves'|trans({})}}</p></section>
</section>
<section class="borrowings">
    <header>{{'admin.menu.title.borrowings.header'|trans({})}}</header>
    <section><p>{{'admin.home.synopsis.borrowings'|trans({})}}</p></section>
</section>
<section class="tags">
    <header>{{'admin.menu.title.tags.header'|trans({})}}</header>
    <section><p>{{'admin.home.synopsis.tags'|trans({})}}</p></section>
</section>
{% endblock %}