{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="0" class="active"><span>{{'admin.breadcrumb.general.webmining'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.general.webmining'|trans({})}}
{% endblock %}

{% block contentBody %}
        <form action="{{ path('caesar_admin_general_webmining') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
                <fieldset>
                    <legend>{{'form.webmining.type.label.general'|trans({})}}</legend>
                    <div class="smallElements">
            {{ form_label(form.active_module) }}
            {{ form_errors(form.active_module) }}
            {{ form_widget(form.active_module) }}
                        </div>
            {{ form_row(form.google_books_url) }}
                    </fieldset>    
                    <fieldset>
                        <legend>{{'form.webmining.type.label.variables'|trans({})}}</legend>
            {{ form_row(form.authors_key) }}
            {{ form_row(form.publisher_key) }}
            {{ form_row(form.published_date_key) }}
            {{ form_row(form.categories_key) }}
            {{ form_row(form.language_key) }}
            {{ form_row(form.description_key) }}
            {{ form_row(form.page_count_key) }}
                    </fieldset>  
                    <input type="submit" value="{{'admin.button.webmining.manage'|trans({})}}"/>
        {{ form_rest(form) }}
                </form>
{% endblock %}