{% extends "CaesarAdminBundle::layout.html.twig" %}


{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
<style media="print" type="text/css">
        header.header, .main-content .sidebar, .main-content article header {
            display: none;

        }
        .colonnes {
            border: 0;
            width: {{pagewidth}}cm;
            margin-top: {{format.marginTop}}cm;
            margin-left: {{format.marginLeft}}cm;
        }

        .barcode {
            border: 0;
            float: left;
            text-align: center;
            height: {{format.height}}cm;
            width: {{format.width}}cm;
            margin-right: {{hgap}}cm;
            margin-bottom:{{vgap}}cm;

            /* Safari, Chrome, and Opera */
            display:-webkit-box;
            -webkit-box-pack:center;
            -webkit-box-align:center;

            /* W3C */
            display:box;
            box-pack:center;
            box-align:center;
        }

        .barcode span {
            width: 100%;
            height:100%;
            /* Firefox */
            display:-moz-box;
            -moz-box-pack:center;
            -moz-box-align:center;
            -moz-box-orient: vertical;
        }

        .barcode img{
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }

        section.main-content article {
            margin-left:0;
        }

        .main-content {
            top: 0;
        }
    </style>

    <style type="text/css">
            .colonnes {
                width: {{pagewidth}}cm;
                margin-top: {{format.marginTop}}cm;
                margin-left: {{format.marginLeft}}cm;
            }

            .barcode {
                float: left;
                text-align: center;
                height: {{format.height}}cm;
                width: {{format.width}}cm;
                margin-right: {{hgap}}cm;
                margin-bottom:{{vgap}}cm;

                /* Safari, Chrome, and Opera */
                display:-webkit-box;
                -webkit-box-pack:center;
                -webkit-box-align:center;

                /* W3C */
                display:box;
                box-pack:center;
                box-align:center;
            }

            .barcode span {
                width: 100%;
                height:100%;
                /* Firefox */
                display:-moz-box;
                -moz-box-pack:center;
                -moz-box-align:center;
                -moz-box-orient: vertical;
            }

            .barcode img{
                display: block;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        </style>
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
        <li data-header="5">
            <a href="{{path('caesar_admin_tag_homepage')}}">{{'admin.breadcrumb.tags.list'|trans({})}}</a>
            <span class="divider">></span>
        </li>
        <li class="active"><span>{{'admin.breadcrumb.tags.generate'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.tags.generate'|trans({})}}
{% endblock %}

{% block contentBody %}
                <div class="colonnes">
    {% for tag in tags %}
                        <div class="barcode">
                            <span>
                                <img src="{{asset(path('caesar_admin_tag_barcode', {'text' : tag.code}))}}" alt="{{tag.code}}"/>
                                <p>{{tag.code}}</p>
                            </span>
                        </div>
    {% endfor %}
                    </div>
{% endblock %}