{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="4">
    <a href="{{path('caesar_admin_tag_homepage')}}">{{'admin.breadcrumb.tags.list'|trans({})}}</a>
    <span class="divider">></span>
</li>
<li class="active"><span>{{'admin.breadcrumb.tags.generate'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.tags.generate'|trans({})}}
{% endblock %}

{% block contentBody %}
<section class="contentBody">
    <input type="hidden" value="{{path('caesar_admin_tag_generate')}}" id="generator-url"/>
    <input type="button" value="Générer les codes barres" id="generator"/>
   
    <div class="colonnes">
    
    </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script type="text/javascript" src="{{ asset('js/barcodes.js') }}" ></script>
{% endblock %}