{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="4">
    <a href="{{path('caesar_admin_tag_homepage')}}">{{'admin.breadcrumb.tags.list'|trans({})}}</a>
    <span class="divider">></span>
</li>
<li class="active"><span>{{'admin.breadcrumb.tags.generate'|trans({})}}</span></li>
{% endblock %}

{% block contentTitle %}
{{'admin.title.tags.generate'|trans({})}}
{% endblock %}

{% block contentBody %}
<section class="contentBody">
    <form class="left tag-generate-form" action="{{ path('caesar_admin_tag_generate') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{'admin.fieldset.tag.legend.choice'|trans({})}}</legend>
            {{ form_errors(listForm) }}
            {{ form_row(listForm.format , { 'attr': {'class': 'format-selection'} }) }}
            {{ form_rest(listForm) }}
            <input type="hidden" value="{{path('caesar_admin_format_json')}}" class="format-url"/>

            {{ form_row(form.code) }}
        </fieldset>

        <fieldset>
            <legend>{{'admin.fieldset.tag.legend.positioning'|trans({})}}</legend>
            {{ form_row(form.horizontalGap) }}
            {{ form_row(form.verticalGap) }}
            {{ form_row(form.marginLeft) }}
            {{ form_row(form.marginTop) }}
        </fieldset>
        <fieldset>
             <legend>{{'admin.fieldset.tag.legend.format'|trans({})}}</legend>
            {{ form_row(form.width) }}
            {{ form_row(form.height) }}
            {{ form_row(form.columns) }}
            {{ form_row(form.rows) }}
        </fieldset>
        {{ form_rest(form)}}
        <input type="submit" value="{{'admin.button.tag.generate'|trans({})}}" name="generate" id="generator"/>
        <input type="submit" value="{{'admin.button.tag.add'|trans({})}}" name="add" id="generator"/>
    </form>

    <section class="left tag-positioning-description">
        <img src="{{asset('bundles/caesaradmin/images/format.png')}}"/>
        <div class="help">
            <span class="help-title">{{'admin.summary.tag.help'|trans({})}}</span>
            <dl>
                <dt>Margin left : </dt>
                <dd>{{'form.tag.type.text.margin.left'|trans({})}}</dd>
                <dt>Margin top : </dt>
                <dd>{{'form.tag.type.text.margin.top'|trans({})}}</dd>
                <dt>Vgap : </dt>
                <dd>{{'form.tag.type.text.gap.vertical'|trans({})}}</dd>
                <dt>Hgap : </dt>
                <dd>{{'form.tag.type.text.gap.horizontal'|trans({})}}</dd>
            </dl>
        </div>
    </section>
</section>
{% endblock %}
    {% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset("js/loadFormat.js")}}"></script>
{% endblock %}