{% extends "CaesarUserBundle::layout.html.twig" %}

{% block bodyTitle %}
<h1>{{authenticate_page_title}}</h1>
{% endblock %}

{% block caesar_user_content %}

<form class="form-client" action="{{ path('caesar_client_authenticate') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.plainPassword) }}
        <input type="submit" value="{{ 'user.login.label.login'|trans({}, 'CaesarUserBundle') }}" id="username"/>
    {{ form_rest(form) }}
    </form>
{% endblock caesar_user_content %}
