{% extends "CaesarUserBundle::layout.html.twig" %}

{% block bodyTitle %}
<h1>{{ 'profile.title'|trans({}, 'CaesarUserBundle') }}</h1>
{% endblock %}

{% block caesar_user_content %}
<section class="container">
    <div>
        <ul class="label-list">
            <li>{{'form.user.type.label.codeBu'|trans({}) }} : {{user.codeBu}}</li>
            <li>{{'form.user.type.label.name'|trans({}) }} : {{user.name}}</li>
            <li>{{'form.user.type.label.firstname'|trans({}) }} : {{user.firstname}}</li>
            <li>{{'form.user.type.label.login'|trans({}) }} : {{user.username}}</li>
            <li>{{'form.user.type.label.email'|trans({}) }} : {{user.email}}</li>
        </ul>
    </div>
    <div id="modify-profile">
        <form class="form-client" action="{{ path('caesar_client_modif_user') }}" method="post" autocomplete="off">
            <input type="button" name="modifProfile" value="{{'profile.change.informations'|trans({}, 'CaesarUserBundle') }}" onclick="submit()"/>
        </form>
    </div>
</section>
{% endblock %}