{% extends "CaesarUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/table_client.css') }}" />
{% endblock %}

{% block bodyTitle %}
<h1>{{ 'search.title'|trans({}, 'CaesarUserBundle') }}</h1>
{% endblock %}

{% block caesar_user_content %}
<section id="search-form">
    <form action="{{ path('caesar_client_search') }}" method="post" {{ form_enctype(searchForm) }}>
        {{ form_errors(searchForm) }}
        {{ form_widget(searchForm.keywords, { 'attr': {'placeholder': 'form.search.placeholder'|trans({}, 'CaesarUserBundle'), 'class': 'form-text'} }) }}
        {{ form_rest(searchForm) }}
            <div class="search-form-actions">
                <input type="submit" name="rechercher" value="{{ 'form.search.search'|trans({}, 'CaesarUserBundle') }}">
            </div>
        </form>
    </section>
    <section class="contentBody">
    {% include 'CaesarUserBundle:User:resourcesSearchList.html.twig' with {'resources' : resources, 'page' : page, 'direction' : direction, 'pagination' : pagination, 'count': count}  %}
        </section>
{% endblock %}
{% block javascripts %}
{{parent()}}
        <script type="text/javascript" src="{{ asset('js/sort.js') }}" ></script>
{% endblock %}